
body {
    margin:0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.image-wrapper{
    background-image: url("../images/wuerfel-background.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 60%;
    margin: 0 auto;

}

h1 {
    color: lightgray;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(128, 128, 128,0.2);
    width: 40%;
    border: solid white 2px;
    border-radius: 20px;
}

.form-group:hover {
    border: solid green 2px;
    background-color: rgba(128, 128, 128,0.4);
}
.form-group label {
    margin-bottom: 30px;
    font-size: large;

}
.form-group input {
    margin-bottom: 20px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: large;
    text-align: center;
}
.form-group input:focus {
    outline: none;
}


.button {
    size: auto;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

@media(max-width: 1500px) {
    body {
    height: 100vh; /* Die volle Höhe des Viewports verwenden */
    background-image: url("../images/wuerfel-background.png");
    background-size: cover; /* Das Bild wird so skaliert, dass der gesamte Hintergrund abgedeckt wird */
    background-position: center center; /* Das Bild wird zentriert positioniert */
    background-attachment: fixed; /* Das Bild bleibt beim Scrollen fixiert */
    }
}