<html>
<h1>Mensch Ärgere dich nicht</h1>

<h2>Felder</h2>
<ul>
    <li><b>Player</b>: Wartefeld der Figuren</li>
    <li><b>Home</b>: Finales Feld der Figuren</li>
    <li><b>Field</b>: Eigentliches Spielfeld</li>
</ul>
<h2>Spielablauf</h2>
<ul>
    <li>Jeder Spieler erhält 4 Figuren</li>
    <li>Ziel ist es alle seine Figuren in die Home Felder zu bewegen</li>
    <li>Ist ein Spieler an der Reihe darf er würfeln und die gewürfelte Anzahl fahren</li>
    <li>Bewegt sich ein Spieler A auf ein Feld auf welchem eine Figur von Spieler B steht muss Spieler B seine Figur wieder in das Begin Feld stellen</li>
    <li>Gewonnen hat der Spieler der als erstes alles seine 4 Figuren im Home Feld hat</li>
</ul>

<h2>Geschichte des Spiels</h2>
<ul>
    <li>Das Spiel wurde Anfang des 20. Jahrhunderts von Josef Friedrich Schmidt erfunden. Schmidt war ein deutscher
        Spielehersteller und brachte das Spiel erstmals im Jahr 1914 unter dem Namen "Mensch ärgere Dich nicht!" auf den
        Markt.</li>
    <li>Die Entstehung des Spiels fällt in eine Zeit, als Gesellschaftsspiele in Deutschland populär wurden. Die
        Menschen suchten nach unterhaltsamen Aktivitäten, um sich in der Freizeit zu beschäftigen</li>
    <li>Das Spiel "Mensch ärgere dich nicht" erfreute sich schnell großer Beliebtheit in Deutschland und wurde in den
        folgenden Jahrzehnten zu einem der bekanntesten und meistgespielten Brettspiele im Land</li>
    <li>Das Spiel hat sich zu einem wichtigen kulturellen Erbe Deutschlands entwickelt und ist ein Teil der deutschen Spielt radition</li>
</ul>

<h2>Namensgebung</h2>
<p>Der Name "Mensch ärgere dich nicht" spiegelt den spielerischen Charakter des Spiels wider. Es kann zu frustrierenden
    Momenten führen, wenn die eigenen Spielfiguren von Gegnern zurückgesetzt werden, was zu Ärger oder Gelächter unter
    den Spielern führt</p>

<h2>Web Interface</h2>
<p>Ergänzend zu unserer TUI & GUI die in der Vorlesung Softwareengineering entstanden sind 
    entwickeln wir hier ein Web Interface für die Vorlesung WebTechnologien
    Dieses Interface ist mit dem Scala Play Framework entstanden 
</p>

<h2>Autoren</h2>
<ul>
    <li>Erik Manz</li>
    <li>Sebastian Kaeser</li>
</ul>

</html>