@(controller: de.htwg.se.madn.Controller.controllerComponent.controllerBaseImpl.Controller)
@field = @{
controller.field.data
}
@player = @{
controller.player.data
}
@home = @{
controller.home.data
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gameborard</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/fullBoard.css")">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Mensch Ärgere dich nicht</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Über das Spiel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/startGame">Neues Spiel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Manz2/WApp-Madm" target="_blank">Github</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <h1 id="heading">Spielfeld</h1>
    <div class="container">
        <div class="grid-container">
            <div class="grid-item p1" id="p1-home-1">@player(0)</div>
            <div class="grid-item p1" id="p1-home-2">@player(1)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item" id="field-39">@field(8)</div>
            <div class="grid-item" id="field-40">@field(9)</div>
            <div class="grid-item p2" id="field-1">@field(10)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item p2" id="p2-home-1">@player(4)</div>
            <div class="grid-item p2" id="p2-home-2">@player(5)</div>

            <div class="grid-item p1" id="p1-home3">@player(2)</div>
            <div class="grid-item p1" id="p1-home4">@player(3)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item" id="field-38">@field(7)</div>
            <div class="grid-item p2" id="p2-final-1">@home(4)</div>
            <div class="grid-item" id="field-2">@field(11)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item p2" id="p2-home-3">@player(6)</div>
            <div class="grid-item p2" id="p2-home-4">@player(7)</div>

            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden player-name">A</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item" id="field-37">@field(6)</div>
            <div class="grid-item p2" id="p2-final-2">@home(5)</div>
            <div class="grid-item" id="field-3">@field(12)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden player-name">B</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>

            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item" id="field-36">@field(5)</div>
            <div class="grid-item p2" id="p2-final-3">@home(6)</div>
            <div class="grid-item" id="field-4">@field(13)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>

            <div class="grid-item p1" id="p1-start">@field(0)</div>
            <div class="grid-item" id="field-32">@field(1)</div>
            <div class="grid-item" id="field-33">@field(2)</div>
            <div class="grid-item" id="field-34">@field(3)</div>
            <div class="grid-item" id="field-35">@field(4)</div>
            <div class="grid-item p2" id="p2-final4">@home(7)</div>
            <div class="grid-item" id="field-5">@field(14)</div>
            <div class="grid-item" id="field-6">@field(15)</div>
            <div class="grid-item" id="field-7">@field(16)</div>
            <div class="grid-item" id="field-8">@field(17)</div>
            <div class="grid-item" id="field-9">@field(18)</div>

            <div class="grid-item" id="field-30">@field(39)</div>
            <div class="grid-item p1" id="p1-final-1">@home(0)</div>
            <div class="grid-item p1" id="p1-final-2">@home(1)</div>
            <div class="grid-item p1" id="p1-final-3">@home(2)</div>
            <div class="grid-item p1" id="p1-final-4">@home(3)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item p4" id="p4-final-4">@home(11)</div>
            <div class="grid-item p4" id="p4-final-3">@home(10)</div>
            <div class="grid-item p4" id="p4-final-2">@home(9)</div>
            <div class="grid-item p4" id="p4-final-1">@home(8)</div>
            <div class="grid-item" id="field-10">@field(19)</div>




            <div class="grid-item" id="field-29">@field(38)</div>
            <div class="grid-item" id="field-28">@field(37)</div>
            <div class="grid-item" id="field-27">@field(36)</div>
            <div class="grid-item" id="field-26">@field(35)</div>
            <div class="grid-item" id="field-25">@field(34)</div>
            <div class="grid-item p3" id="p3-final-4">@home(15)</div>
            <div class="grid-item" id="field-15">@field(24)</div>
            <div class="grid-item" id="field-14">@field(23)</div>
            <div class="grid-item" id="field-13">@field(22)</div>
            <div class="grid-item" id="field-12">@field(21)</div>
            <div class="grid-item p4" id="field-11">@field(20)</div>




            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item" id="field-24">@field(33)</div>
            <div class="grid-item p3" id="p3-final-3">@home(14)</div>
            <div class="grid-item" id="field-16">@field(25)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>

            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden player-name">D</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item" id="field-23">@field(32)</div>
            <div class="grid-item p3" id="p3-final-2">@home(13)</div>
            <div class="grid-item" id="field-17">@field(26)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden player-name">C</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>


            <div class="grid-item p3" id="p3-home-1">@player(12)</div>
            <div class="grid-item p3" id="p3-home-2">@player(13)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item" id="field-22">@field(31)</div>
            <div class="grid-item p3" id="p3-final-1">@home(12)</div>
            <div class="grid-item" id="field-18">@field(27)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item p4" id="p4-home-1">@player(8)</div>
            <div class="grid-item p4" id="p4-home-2">@player(9)</div>

            <div class="grid-item p3" id="p3-home-3">@player(14)</div>
            <div class="grid-item p3" id="p3-home-4">@player(15)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item p3" id="field-21">@field(30)</div>
            <div class="grid-item" id="field-20">@field(29)</div>
            <div class="grid-item" id="field-19">@field(28)</div>
            <div class="grid-item hidden"></div>
            <div class="grid-item hidden"></div>
            <div class="grid-item p4" id="p4-home-3">@player(10)</div>
            <div class="grid-item p4" id="p4-home-4">@player(11)</div>
        </div>
        <div id="inputs">
            <h1>Du hast keine 6 gewürfelt</h1>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            <button class="button-2"><a style="text-decoration: none; color: white;" href="/fullBoardWurf">Nochmal würfeln</a></button>

        </div>
    </body>
</html>