  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Gameborard</title>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/newGame.css")">
  </head>
    <body>
      <div class="image-wrapper">
      <div class="container">
        <h1>Welcome to Mensch Ärgere dich nicht!</h1>
        <form method="POST" action="/newGame">
          <div class="form-group">
            <label for="anzahl">Wähle die Anzahl Spieler aus</label>
            <input type="number" id="anzahl" name="anzahl" required>
            <input type="submit" class="button" value="Spiel starten">
          </div>
        </form>
      </div>
      </div>
    </body>
  </html>

